// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "daterangepicker";
@import "chosen.min";

.date-picker-wrapper * thead th {
  background-color: #ffffff;
}
div.ui-datepicker {
  width: 250px;
  font-size:14px;
  .ui-datepicker-header {
    width: 96.5%;
    .ui-datepicker-next {
      border-left: 15px solid white;
    }
    .ui-datepicker-prev {
      border-right: 15px solid white;
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
  }
}
.date-picker-wrapper a {
  color: #38678b;
}

.shortcuts {
  font-size: 13px;
  b {
    float: left;
  }

  span a {
    min-width: 50px;
  }

  & b:before {
    content:':';
    display: block;
    float: right;
  }

  & span:nth-child(2)::before {
    content: '';
    display: block;
  }

  & span:nth-child(6)::before {
    content: '';
    display: block;
  }

  & span:nth-child(8)::before {
    content: '';
    display: block;
  }
}

.report_by_user__project-name, .report_by_ticket__project-name, .pointer {
  cursor: pointer;
}

.report tr > td:last-child, .report tr > th:last-child {
  width: 30px;
}
textarea[id^="q_details_contains"] {
  display: block;
  width: calc(100% - 30px);
  height: 50px;
  margin: 10px 0 0 0;
}
*[id^="q_details_contains_input"] {
  list-style: none;
}

.panel {
  font-size: 13px;
}
.line {
  border-bottom: 1px solid #e3e3e3;
}
.w150 {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}
.w250 {
  vertical-align: top;
  width: 250px;
  word-break: break-all;
  display: inline-block;
}
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
